/*-----general styling------*/
.text-center{
    text-align: center;
}

/*-----game styling------*/
.dot{
    border-radius: 50%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;

    margin: 7px;
}

.game-box{
    border: 1px solid black;
    width: fit-content;
    margin: auto;
}

.dot-row{
    display:flex;
    flex-direction: row;
}

#game-area{
    position: relative;
}

.difficulty-row{
    position:absolute;
    top:150px;
    left:42%;
}

/*---------headings and buttons styling--------*/
