/*-----general styling------*/
.text-center{
    text-align: center;
}

.hidden{
    visibility: hidden;
}

.sq{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
}
/*-----game styling------*/
.dot{
    border-radius: 50%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;

    margin: 7px;

    position: relative;
}

#game-box{
    border: 1px solid black;
    width: fit-content;
    margin: auto;

}

.dot-row{
    display:flex;
    flex-direction: row;
}

#game-area{
    position: relative;
    margin: 30px;
}



/*---------headings and buttons styling--------*/

#difficulty-row{
    position: absolute;
    width: 400px;
}

#score-box{
    border: 1px solid black;
    border-radius: 10%;
    font-weight: bold;
    width: fit-content;
    height: fit-content;

    padding: 5px;

}

#game-over{
position: fixed;
    position: absolute;
    width: 10em;
    background-color: aliceblue;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15%;
    font-size: 30px;
}

#game-window{
    display: flex;
    align-items: center;
    justify-content: center;
}