
/*-----general styling------*/
.text-center{
    text-align: center;
}

.hidden{
    visibility: hidden;
}

h1{
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
}

/*-----game styling------*/
.dot{
    border-radius: 50%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;

    margin: 7px;

    position: relative;
}

#game-box{
    border: 1px solid black;
    width: fit-content;
    margin: auto;

}

.dot-row{
    display:flex;
    flex-direction: row;
}

#game-area{
    position: relative;
    margin: 30px;
}



/*---------headings and buttons styling--------*/



#score-box{
    border: 1px solid black;
    border-radius: 10%;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;

}

#game-over{
    position: fixed;
    position: absolute;
    width: 10em;
    background-color: aliceblue;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15%;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}

#game-window{
    display: flex;
    align-items: center;
    justify-content: center;
}

#difficulty-row{
    position: absolute;
    width: fit-content;
}



.btn{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin-bottom: 14px;
    padding: 5px 10px;
    margin-right: 70px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.difficulty-button{
    margin: 10px;
    width: 90px;

}

.btn:focus{
    box-shadow: none;
}

.btn:hover{
    border:2px solid black;
}








